<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title><%= t('title') %></title>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
              <%= link_to t('title'), root_path, class: 'navbar-brand' %>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <% if user_signed_in? %>
                    <li class="nav-link"><%= link_to t('buttons.profile'), current_user %></li>
                    <li class="nav-link"><%= link_to t('buttons.sign_out'), destroy_user_session_path, :method => :delete %></li>
                  <% else %>
                    <li class="nav-link"><%= link_to t('buttons.sign_in'), new_user_session_path %></li>
                    <li class="nav-link"><%= link_to t('buttons.sign_up'), new_user_registration_path %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9 mt-3">
          <% flash.each do |name, message| %>
          <div class="alert alert-dismissible fade show <%= bootstrap_class_for(name) %>">
            <%= message %>
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="container-fluid">
            <footer class="mt-5">
              <p>&copy; <%= t('company') %> 2021</p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
